{% extends "base.html" %}

{% block title %}UR Heard - About{% endblock title %}

{% block content %}
	<section class="mx-auto" style="width:max-content">
		<h2>Group Members</h2>
		<ul>
			<li>Nate Webber</li>
			<li>Michael Bashner</li>
			<li>Zeke Brecher</li>
		</ul>
	</section>
	<section class="mx-auto pb-2" style="width:max-content">
		<h2>Background:</h2>
		<p>Inspired by <a href="https://www.sa.rochester.edu/impact/">SA Impact</a> and <a href="https://www.change.org/petitions">Change.org</a>, team 3 has created a modern petition platform for students.</p>
	</section>
{% endblock content %}
