{% extends "base.html" %}

{% block title %}UR Heard - About{% endblock title %}

{% block content %}
	<header class="page-header">
		<h1 style="text-align:center"> About This Project </h1>
	</header>
	<section class="mx-auto pb-2 w-50" style="max-width:max-content">
		<p>Inspired by <a href="https://www.sa.rochester.edu/impact/">SA Impact</a> and <a href="https://www.change.org/petitions">Change.org</a>, team 3 has created a modern petition platform for students. Users are able to browse the most recent petitions on the home page, create an account, create and edit petitions, and of course sign a petition!</p>
	</section>
	<section class="mx-auto pb-2" style="width:max-content">
		<h2 class="text-center">The Members of Group 3</h2>
		<ul>
			<li>Michael Bashner</li>
			<li>Nate Webber</li>
			<li>Zeke Brecher</li>
		</ul>
	</section>
{% endblock content %}
