<!DOCTYPE html>
<html lang="en">
	<head>
		{% import "bootstrap/form.html" as wtf %}
		{% block head %}
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
		<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
		{% block styles %}
			<!-- Bootstrap CSS -->
			{{ bootstrap.load_css() }}
		{% endblock %}

		<title>{% block title %}UR Heard{% endblock title %}</title>
		{% endblock %}
	</head>
	<body>
		<!-- Your page content -->
		<nav class="navbar navbar-expand-sm bg-light navbar-light justify-content-center sticky-top">
  			<ul class="navbar-nav">
    				<li class="nav-item active">
      					<a class="nav-link" href={{ url_for ('index') }}> Home </a>
    				</li>
    				<li class="nav-item">
      					<a class="nav-link" href={{ url_for ('create') }}> Create Petition </a>
    				</li>
    				{# <li class="nav-item">
      					<a class="nav-link" href={{ url_for ('petition') }}> Generic Petiton </a>
    				</li> #}
    				<li class="nav-item">
      					<a class="nav-link" href={{ url_for ('login') }}> Login </a>
    				</li>
				<li class="nav-item">
      					<a class="nav-link" href={{ url_for ('register') }}> Register </a>
    				</li>
  			</ul>
		</nav>
		<div class="container">
		{% block content %}{% endblock %}
	</div>

		{% block scripts %}
			<!-- Optional JavaScript -->
			{{ bootstrap.load_js() }}
			{{ moment.include_moment() }}
		{% endblock %}
	</body>
</html>
