{% from 'bootstrap/nav.html' import render_nav_item %}
{% import "bootstrap/form.html" as wtf %}
<!DOCTYPE html>
<html lang="en">
	<head>
		{% block head %}
			<!-- Required meta tags -->
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
			{# <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon"> #}
			{# <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon"> #}
			{% block styles %}
				<!-- Bootstrap CSS -->
				{{ bootstrap.load_css() }}
				<style>
					body {
						background-image: url("{{ url_for('static', filename='images/background.png') }}");
						background-size: auto auto;
						background-repeat: repeat;
					}
					.active {
						text-shadow: #FC0 1px 0 10px;
					}
				</style>
			{% endblock styles %}
			<title>{% block title %}UR Heard{% endblock title %}</title>
		{% endblock head %}
	</head>
	<body>
		<!-- Your page content -->
		<nav class="navbar navbar-expand-sm bg-light navbar-light justify-content-between sticky-top">
			<div class="container">
				<ul class="navbar-nav w-50">
					{{ render_nav_item('index', 'Home', use_li=True) }}
					{{ render_nav_item('create', 'Create Petition', use_li=True) }}
					{{ render_nav_item('about', 'About', use_li=True) }}
				</ul>
				<a href="/" class="navbar-brand mx-auto d-block text-center w-25">UR Heard</a>
				<ul class="navbar-nav justify-content-end w-50">
					<!--If the user is logged in, show the logout button. Otherwise, show the login and register buttons-->
					{% if current_user.is_authenticated %}
						{{ render_nav_item('logout', 'Logout', use_li=True) }}
					{% else %}
						{{ render_nav_item('login', 'Login', use_li=True) }}
						{{ render_nav_item('register', 'Register', use_li=True) }}
					{% endif %}
				</ul>
			</div>
		</nav>
		<div class="container bg-light mt-2">
			<header class="page-header">
				<h1 class="text-center">CSC 210 - Group 3 - URHeard</h1> <!--We should probably pick how exactly we want to stylize/capitalize the name of the project-->
			</header>
			{% block content %}{% endblock content %}
		</div>
		{% block scripts %}
			<!-- Optional JavaScript -->
			{{ bootstrap.load_js() }}
			{{ moment.include_moment() }}
		{% endblock scripts %}
	</body>
</html>
