{% extends "base.html" %}

{% block title %}Index{% endblock title %}

{% block content %}
<header class="page-header">
	<h1 class="text-center">CSC 210 - Group 3 - URHeard</h1> <!--We should probably pick how exactly we want to stylize/capitalize the name of the project-->
</header>
<div class="container">
	<div class="d-flex flex-wrap justify-content-center">
	{% for petition in petitions %}
		<article class="card m-2 w-75">
		<a href="/petition/{{petition.id}}" class="text-body text-decoration-none">
			<div class="card-body">
				<h3 class="card-title font-weight-bold">{{petition.title}}</h3>
				<h4 class="card-subtitle mb-2"> <object><a href="user/{{petition.author_id}}">{{petition.author.name}}</a></object> &middot; {{ moment(petition.timestamp).fromNow() }}</h4>
				<p class="card-text">{{petition.body | truncate(325, false, end='... Read More', leeway=10) }}</p>
			</div>
		</a>
		</article>
	{% endfor %}
</div>
</div>
{% endblock content %}