{% extends "base.html" %}

{% block title %}Index{% endblock title %}

{% block content %}
	<header class="page-header">
		<h1>CSC 210 - Group 3 - URHeard</h1> <!--We should probably pick how exactly we want to stylize/capitalize the name of the project-->
	</header>

	<h2>Group Members</h2>
	
	<ul>
		<li>Nate Webber</li>
		<li>Michael Bashner</li>
		<li>Zeke Brecher</li>
	</ul>

	<div class="d-flex flex-wrap">
	{% for petition in petitions %}
		<article class="card m-2">
			<div class="card-body">
				<h3 class="card-title">{{petition.title}}</h3>
				<h4 class="card-subtitle mb-2"><span class="text-muted">{{petition.timestamp}} by</span> <span class="card-link">{{petition.author.name}}</span></h4>
				<p class="card-text text-truncate">{{petition.body}}</p>
			</div>
		</article>
	{% endfor %}
</div>
{% endblock content %}