{% extends "base.html" %}

{% block title %}UR Heard - Change Password{% endblock title %}

{% block content %}
	<header class="page=header">
		<h2 class="text-center">Password Change</h2>
	</header><!-- /header -->
	<form class="form container mx-auto w-50" method="post" role="form">
		{{ form.hidden_tag() }}
		<div class="mb-3 required">
			{{form.current_password.label(class="form-label")}}
			{{form.current_password(class="form-control")}}
		</div>
		<div class="mb-3 required">
			{{form.new_password.label(class="form-label")}}
			{{form.new_password(class="form-control")}}
		</div>
		<div class="mb-3 required">
			{{form.new_password2.label(class="form-label")}}
			{{form.new_password2(class="form-control")}}
		</div>
		<div class="mb-3">
			<div class="d-flex justify-content-between" role="group">
				<a type="button" class="btn btn-danger" href="/profile/{{current_user.id}}">Cancel</a>
				{{wtf.render_field(form.submit)}}
			</div>
		</div>
	</form>
{% endblock content %}
