{% extends "base.html" %}

{% block title %}UR Heard - Delete Petition{% endblock title %}

{% block content %}
	<header class="page=header">
		<h2 class="text-center">Delete Petition</h2>
	</header><!-- /header -->
	<h3 class="text-center">Are you sure you want to delete your petition "{{petition.title}}"?</h3>
	<form class="form container mx-auto w-50" method="post" role="form">
		{{ form.hidden_tag() }}
		<div class="mb-3">
			<div class="d-flex justify-content-between" role="group">
				<a type="button" class="btn btn-danger" href="/petition/{{petition.id}}">Cancel</a>
				{{wtf.render_field(form.submit)}}
			</div>
		</div>
	</form>
		

{% endblock content %}
