{% extends "base.html" %}

{% block title %}UR Heard - {{ current_profile.name}}'s Profile{% endblock title %}

{% block content %}
	<h1>{{ current_profile.name}}'s Profile</h1>
	<h2>Authored Petitions:</h2>
	<ul>
		{% for petition in current_profile.petition|reverse %}
			<li><a href="{{ url_for ('petition', id=petition.id) }}">{{petition.title}}</a></li>
		{% endfor %}
	</ul>
	<h2>Signed Petitions:</h2>
	<ul>
		{% for petition in current_profile.signed_petitions|reverse %}
			<li><a href="{{ url_for ('petition', id=petition.id) }}">{{petition.title}}</a></li>
		{% endfor %}
	</ul>

	{% if current_profile.id == current_user.id%}
		<h2>Options:</h2>
		<a href="{{ url_for('passwordchange')}}">Change Password</a>
	{% endif %}
{% endblock content %}
